

@model Demo.Data.Model.Dept
@{
// ------------------------------
// 本模块由CodeBuilder工具生成
// 版权所有 (C) Fireasy 2014
// 
// 模块名称: 部门编辑视图
// 代码编写: Huangxd
// 创建时间: 2015/5/18 16:08:24
// ------------------------------
}
@{
    ViewBag.Title = "Dept";
    Layout = "~/Views/Shared/_EasyUILayout.cshtml";
}
    <script type="text/javascript">
        var id = '@Request.QueryString["id"]';
        var parentId = '@ViewBag.ParentId';
        $(function () {
            loadInfo();
        });

        function loadDepts() {
            $('#cboParent').combotree({
                url: 'Data?targetId=' + parentId + '&currentId=' + id,
                onLoadSuccess: function () {
                    $('#cboParent').combotree('setValue', parentId);
                }
            })
        }

        //加载信息
        function loadInfo() {
            if (id != '') {
                $.getJSON('Get?id=' + id, function (data) {
                    common.processResult(data, function () {
                        $('#form1').form('load', data);
                        parentId = data.ParentId;
                        loadDepts();
                    });
                });

                $('#btnSaveAndNew').remove();
            }
            else {
                loadDepts();
            }
        }

        //保存信息
        function saveInfo(isNew) {
            if (!$('#form1').form('validate')) {
                return;
            }

            var postData = new Object();

            //将表单填充的内容序列化为json
            var data = $('#form1').form('save');
            postData["info"] = JSON.stringify(data);

            parentId = $('#cboParent').combotree('getValue');

            common.showProcess();
            $.post('Save?id=' + id + '&parentId=' + parentId, postData, function (result) {
                common.processResult(result, function () {
                    if (isNew) {
                        $('#form1').form('clear');
                    }

                    id = isNew ? '' : result.data;
                    common.setReturnValue(true);
                });
            });
        }
    </script>
    <div data-options="region:'center',border:false">
        <table class="form-body">
            
            <tr>
                <td class="addon">上级单位</td>
                <td>@Html.ComboTree("cboParent").MarkNoClear()</td>
            </tr>
            <tr>
                <td class="addon">编码</td>
                <td>@Html.TextBox(s => s.No, new TextBoxSettings { Editable = false })</td>
            </tr>
            <tr>
                <td class="addon">名称</td>
                <td>@Html.TextBox(s => s.Name)</td>
            </tr>
            <tr>
                <td class="addon">排序</td>
                <td>@Html.TextBox(s => s.OrderNo)</td>
            </tr>
        </table>
    </div>
    <div data-options="region:'south',border:false" class="form-button">
        <a class="easyui-linkbutton" onclick="saveInfo()" id="btnSave" data-options="iconCls:'icon-save'">保存</a>
        <a class="easyui-linkbutton" onclick="saveInfo(true)" id="btnSaveAndNew" data-options="iconCls:'icon-save'">保存并新建</a>
        <a class="easyui-linkbutton" onclick="common.closeWindow()" id="btnClose" data-options="iconCls:'icon-cancel'">关闭</a>
    </div>
